<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaitupenjudcoder.buckstrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:name="com.chaitupenjudcoder.BucksTrackOffline"
        android:theme="@style/AppTheme">
        <activity android:name="com.chaitupenjudcoder.CategoriesActivity"
            android:parentActivityName="com.chaitupenjudcoder.BucksActivity"/>
        <activity
            android:name="com.chaitupenjudcoder.SettingsActivity"
            android:parentActivityName="com.chaitupenjudcoder.BucksActivity" />

        <receiver android:name=".BucksTrackWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bucks_track_widget_info" />
        </receiver>

        <service android:name="com.chaitupenjudcoder.intentservices.BucksIntentService" />

        <!-- Accessibility Setting for focussing on Edittext in Activity -->
        <activity
            android:name="com.chaitupenjudcoder.AddIncomeExpenseActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName="com.chaitupenjudcoder.BucksActivity" />
        <activity
            android:name="com.chaitupenjudcoder.BucksTransactions"
            android:parentActivityName="com.chaitupenjudcoder.BucksActivity" />
        <activity
            android:name="com.chaitupenjudcoder.DateChooserActivity"
            android:parentActivityName="com.chaitupenjudcoder.BucksActivity" />
        <activity
            android:name="com.chaitupenjudcoder.BucksActivity"
            android:label="@string/title_activity_bucks"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Accessibility Setting for focussing on Edittext in Activity -->
        <activity android:name="com.chaitupenjudcoder.SignUpActivity"
        android:windowSoftInputMode="stateVisible|adjustResize" />
        <!-- Accessibility Setting for focussing on Edittext in Activity -->
        <activity android:name="com.chaitupenjudcoder.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>